body {
  background-color: #e1dcc5;
}

.logo-img {
  width: 100px;
}
.height {
  height: 250px;
}
.show-cards {
  margin-top: 40px;
  height: 80vh;
  border-radius: 10px;
  border: 1px solid rgba(57, 67, 70, 0.344);
  overflow-y: scroll;
}
.spinner {
  margin-left: 600px;
}
